body {
    font-size: 34px;
    text-align: center;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnail-container {
    margin: 40vw;
}

#title {
    margin: 30px;
}

.container {
    display: flex;
    text-align: center;
}


p {
    font-size: 20px;
}