<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <title>Filestack</title>
</head>
<body>
    
  <div id="title">Filestack</div>
      <div id="thumbnail-container">
          <input type="file" id="myFile" value="upload your file" 
            method="post"
            onchange="myFunction()"
            enctype="multipart/form-data"
            >
          <p id="demo"></p>
  </div>
    <div>
        <form action="http://localhost:3000/files" method="POST">
            <input type="text">
            <input type="text">
            <button>Send</button>
        </form>
    </div>

  <script src="https://static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>
  
  <script>
    
      window.config = {
        apiKey: "{{apiKey}}"
    }


      // defining variables 
      //const apikey = 'A9ZaZkmYdSYuVVWVsY6q6z';
      const client = filestack.init(window.config.apiKey);
    


      window.addEventListener('DOMContentLoaded', function () {
      const options = {
        maxFiles: 5,
        uploadInBackground: false,
        onOpen: () => console.log('opened!'),
        onUploadDone: (res) => {
          // logging the reponse if it's all good
          console.log(res);
          displayFile(res);
        },
        onClose: function() {console.log('prova')}
      };
      
      client.picker(options).open();
      
          function displayFile(res) {

            // identify the response element
            let fileData = res.filesUploaded;
            
            //  defining constants regarding the type of the file uploaded
            const imageArray = ['png', 'jpg', 'jpeg'];
            const documentArray = ['json', 'pdf', 'vnd.ms-powerpoint', 'vnd.ms-powerpoint', 'msword', 'vnd.openxmlformats-officedocument.wordprocessingml.document', 'vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'vnd.ms-excel', 'octet-stream', 'html', 'plain']; 
            
                          
            // rendering the common structure (clickable name of the file) 
            // regardless of the type of file uploaded 
            fileData.forEach(element => {
            console.log(element)
            const domContainer = document.getElementById('thumbnail-container');
            let containerCreate = document.createElement("a");
            containerCreate.setAttribute("id", element.uploadId);
            containerCreate.className = "container";
            containerCreate.href = element.url;
            containerCreate.target = "_blank";
            domContainer.appendChild(containerCreate);
            let p = document.createElement("p");
            p.innerText = element.filename;
            containerCreate.appendChild(p);
            
            // uploading an image
            if (imageArray.indexOf(element.mimetype.split('/')[1]) !== -1) {
                let container = document.getElementById(element.uploadId);
                let thumbnail = new Image();
                thumbnail.id = 'thumbnail';
                thumbnail.src = client.transform(element.handle, {
                  resize: {
                    width: 200
                  }
                })
                container.appendChild(thumbnail);
            }
            // uploading a document
            else if (documentArray.indexOf(element.mimetype.split('/')[1]) !== -1) {
                client.preview(element.handle, {id: element.uploadId})
            }
            // uploading anything else (will trigger the download)
            else {
              console.log('different kind of file uploaded')
            }
            
          });
        // logging the upload files to check properties for further development enhancement 
        console.log(fileData);
        }  
    })


        function myFunction(){
    var x = document.getElementById("myFile");
    var txt = "";
    if ('files' in x) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        } else {
            for (var i = 0; i < x.files.length; i++) {
                txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                var file = x.files[i];
                if ('name' in file) {
                    txt += "name: " + file.name + "<br>";
                }
                if ('size' in file) {
                    txt += "size: " + file.size + " bytes <br>";
                }
            }
        }
    } 
    else {
        if (x.value == "") {
            txt += "Select one or more files.";
        } else {
            txt += "The files property is not supported by your browser!";
            txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
        }
    }
    document.getElementById("demo").innerHTML = txt;
    console.log(myFile.files);

    let upFile = document.getElementById("myFile").files[0] // get file from input
    console.log(upFile);
        let formData = new FormData();
        formData.append("file", upFile);        
        // formData.append("user", JSON.stringify(user));   // you can add also some json data to formData like e.g. user = {name:'john', age:34}

        let req = new XMLHttpRequest();
        req.open("POST", 'http://localhost:3000/files');
        req.send(formData);
        console.log(req)
        }

    


  </script>
  



</body>
</html>

